.photosSection {
    width: 909px; 
    margin: 0 auto; 
}

.themeGrid {
  display: grid;
  grid-template-columns: repeat(3, 285px); 
  gap: 26px; 
  row-gap: 21px;
  column-gap: 26px;
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(3, 285px);
    gap: 26px;
    row-gap: 21px;
    column-gap: 26px;
}

.noPhotoTitle {
    max-width: 684px;
    margin: 121px auto 826px auto;
    line-height: 125%;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    text-align: center;
    color: #393939;
}

.noPhotoTitleSpan {
    color: #f17900;
}