* {
    margin: 0;
}

.titleSec {
    min-height: 421px;
    background-image: url("assets/bg/background.svg");
    background-size: cover;
    background-position: center;
}

.titleText2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    text-align: center;
    color: #fffdfa;
    margin-bottom: 85px;
    padding-top: 63px;
    line-height: 1.2;
    text-shadow:
            -1px 1px 2px #00000080,
            1px 1px 2px #00000080,
            1px -1px 0 #00000080,
            -1px -1px 0 #00000080;
}

.spanText {
    color: #f17900;
}


.searchBar {
  position: relative;
  max-width: 808px;
  margin: 0 auto;
  border: none;
  outline: none;
  border-radius: 8px;
}

.searchInput {
  border: none;
  outline: none;
  height: 54px;
  border-radius: 8px;
  width: 93%;
  padding-left: 54px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.searchBtn {
  border: none;
  outline: none;
  position: absolute;
  top: 18px;
  left: 19px;
  background: transparent;
  cursor: pointer;
}