.themeCard {
    position: relative;
    width: 285px;
    height: 244px;
    overflow: hidden;
    transition: transform 0.3s;
}

.themeCard:hover {
  transform: scale(1.03);
}

.themeCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.themeLabel {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 4px 0;
  font-size: 20px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5);
}