.sortContainer {
  display: flex;
  align-items: center;
  gap: 18px;
  font-family: "Lexend Deca", sans-serif;
  justify-content: right;
  margin-top: 25px;
  margin-bottom: 26px;
}

.sortLabel {
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  color: #393939;
}

.sortDropdown {
  position: relative;
}

.sortButton {
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  transition: all 0.3s;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 16px;
  padding: 16px;
  width: 146px;
  height: 41px;
}

.sortButton:hover {
  border-color: #999;
}

.sortButton:after {
  content: url("assets/icons/galka.svg");
  font-size: 10px;
  margin-left: 8px;
}

.sortOptions {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
}

.sortOptionsShow {
  display: block;
}

.sortOption {
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
}

.sortOption:hover {
  background: #f5f5f5;
}

.sortOption:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sortOption:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
