.footer {
    background: linear-gradient(90deg, #343333 44.73%, #484848 65.63%, #282828 98.63%);
    color: #ecf0f1;
    padding: 48px 0;
    margin-top: 55px;
}

.footerContainer {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
}

.footerBrand {
  max-width: 265px;
}

.footerLogo {
    width: 200px;
    margin-top:32px ;
    margin-bottom: 14px
}

.footerText {
    font-size:14px;
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 157%;
    color: #FFFFFF99;
    opacity: 0.8;
}

.socialIcons {
    display: flex;
    gap: 11px;
    margin-bottom: 21px;
}

.socialIcon svg:hover  {
    fill: #e0a449;
    transition: transform 0.4s ease;
    transform: scale(1.1);
    color:white;

}

.copyright {
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF99;
    margin-left: 86px;
}

.footerLinks {
    margin-left: 55px;
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap:85px;
}

.linkColumn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;

}

.linkTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 90%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e0a449;
}
.linkList {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff96;
}
.linkItem {
  margin-bottom: 13px;
}
.link {
  text-decoration: none;
  transition: color 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 102%;
  color: #FFFFFF99;
}
.link:hover {
  color: #3498db;
}